.profile-header-btn-container {
    display: flex;
    /* justify-content: flex-start; */
  }
  
.profile-header-btn-small {
    background-color: #87B989;
    color: white;
    font-size: 14px;
    padding: 4px 12px;
    border-radius: 15px;
    border: none;
  }
  