.article-card-list {
    display: flex;
    overflow-x: scroll; /* 가로 스크롤 */
    padding: 10px 0;
    gap: 10px;
    height: 170px;
  }
  
  .article-card-list::-webkit-scrollbar {
    display: none; /* 스크롤바 숨기기 */
  }
  
  .article-card-list > div {
    flex: 0 0 30%; /* 각 카드가 한 화면에 3개씩 보이게 하기 */
    max-width: 30%;
    box-sizing: border-box;
    border-radius: 10px;
    height: 170px;
    overflow: hidden; /* 자식 요소가 부모 요소 넘으면 가림 */
  }
