.chat-container {
  width: 400px; /* Adjust to your desired width */
  margin: 0 auto;
  padding: 10px;
  background-color: #f9f9f9; /* Background color for the chat container */
  border-radius: 10px;
  overflow-y: auto;
  max-height: 600px; /* Limit the height with scroll */
}

.chat-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chat-message-box {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  position: relative;
}

.chat-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-content {
  max-width: 250px;
  padding: 10px;
  background-color: #e2f5e3; /* Background color for message box */
  border-radius: 10px;
  position: relative;
  word-wrap: break-word;
  font-size: 14px;
}

.chat-timestamp {
  font-size: 12px;
  color: #888;
  position: absolute;
  bottom: -18px; /* Adjust to your preference */
  right: 0;
}

.chat-message-box.sent {
  flex-direction: row-reverse;
}

.chat-message-box.sent .chat-content {
  background-color: #d9fdd3; /* Background color for sent messages */
}

.chat-message-box.sent .chat-timestamp {
  left: 0;
  right: auto;
}

.chat-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

